extends ../layouts/main
 
block variables
  include ../../data/data.pug
  - const title = "БАЗАЛЬТУМ - Контакты"
 

block main

  include ../../blocks/components/breadcrumb/breadcrumb.pug
  include ../../blocks/modules/home-contacts/home-contacts.pug
  include ../../blocks/modules/form-callback/form-callback.pug

  .container
    .page
      .page__breadcrumb
        +breadcrumb([
          'Главная',
          'Контакты',
        ])

      .page__title
        h1.section-title Контакты
        div.section-desc Хотите приобрести продукцию

      .page__content
        +home-contacts
        +form-callback

   
       
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 