extends ../layouts/main
 
block variables
  include ../../data/data.pug
  - const title = "БАЗАЛЬТУМ - Прайс"
 

block main

  include ../../blocks/components/breadcrumb/breadcrumb.pug
  include ../../blocks/modules/pricelist/pricelist.pug

  .container
    .page
      .page__breadcrumb
        +breadcrumb([
          'Главная',
          'Прайс',
        ])

      .page__title
        h1.section-title Прайс-листы продукции
        div.section-desc Утеплители для фасадов под любые форматы

      .page__content
        +pricelist

   
       
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 