mixin about-home
    section.section-about-home
        .container
            .about-home
                .about-home__left
                    .about-home__title.section-title Группа компаний «Газосиликат»
                    .about-home__desc Не только каменная вата для теплоизоляции, но и многое другое
                    .about-home__text.formated-text
                        strong Группа компаний «Газосиликат» производит блоки из ячеистого бетона. Продукция является экологически чистой, а ее качество было неоднократно подтверждено независимыми лабораториями ЕС и Российской Федерации.
                        p Для регулярного контроля качества производимой продукции и качества входящего сырья функционирует собственная лаборатория. Песок для производства добывается из собственного песчаного карьера. Мы используем "Зеленую" энергию для производства нашей продукции.
                        p За многолетнюю историю работы мы получили многочисленные сертификаты Республики Беларусь, Российской Федерации и ЕС, подтверждающие высокие стандарты качества.
                    .about-home__logo--mobile
                        picture
                            img(src="/img/common/logo-gazosilicat-2.svg" loading="lazy")
                    .about-home__details
                        .about-home__details-text Узнавайте подробнее про нашу группу компаний и чем ещё мы занимаемся:
                        .about-home__details-btn: a(href='#'): button.btn Узнать подробнее

                .about-home__right
                    .about-home__logo1
                        picture
                            img(src="/img/common/logo-b.svg" loading="lazy")
                    .about-home__logo2
                        picture
                            img(src="/img/common/logo-gazosilicat-2.svg" loading="lazy")
                
                    
