mixin about-home
    section.section-about-home
        .container
            .about-home
                .about-home__left
                    .about-home__title.section-title Группа компаний «Газосиликат»
                    .about-home__desc Не только каменная вата для теплоизоляции, но и многое другое
                    .about-home__text
                        strong strong Группа компаний «Газосиликат» производит блоки из ячеистого бетона. Продукция является экологически чистой, а ее качество было неоднократно подтверждено независимыми лабораториями ЕС и Российской Федерации.
                        p
                        pккуккккккк
                .about-home__right
                    
