.section-slider-products {

    padding: 45px 0;

    @media screen and (min-width: $w576) {
        padding: 45px 0;
    }

}

.slider-products {

    &__top {

        padding-bottom: 32px;

        @media screen and (min-width: $w992) {
            display: flex;
            justify-content: space-between;
            align-items: center
        }
    }

    &__button {



        @media screen and (min-width: $w760) and (max-width: $w992) {
            padding-top: 24px;
        }

        & .btn {
            height: 60px;
            width: 100%;
            max-width: 360px;

            @media screen and (min-width: $w480) {
                width: auto;
            }


        }
    }

    &__title {
        padding-bottom: 16px;
    }



    &__desc {
        color: var(--gray-64);
        padding-left: 36px;
        font-size: 16px;
        padding-bottom: 20px;

        @media screen and (min-width: $w760) {
            font-size: 20px;
            padding-left: 60px;
        }
    }

    & .minicard {
        width: 304px;
    }

    & .splide {
        &__pagination {
            position: static;
            bottom: 0;

            & li {
                margin-top: -6px;
            }

            &__page {

                &.is-active {
                    transform: scale(1);
                }

            }
        }

        &__slide {
            padding-bottom: 80px;
        }
    }

    &__nav {
        @media screen and (min-width: $w992) {
            display: flex;
            justify-content: flex-end;
            padding-top: 24px;
        }
    }

    &__arrow {
        display: flex;
        justify-content: center;

        & div[aria-hidden] {
            display: none;
        }

        & div[disabled] {
            opacity: 0.5 !important;
            cursor: default;
            pointer-events: none;
            touch-action: none;
        }


        &>div {
            padding: 0 4px;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }

        & svg {
            width: 40px;
            height: 40px;
        }


    }

    &__dots {
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__list {

        margin-right: -16px;

        @media screen and (min-width: $w480) {
            margin-right: 0;
        }
    }
}