mixin home-contacts
    section.section-home-contacts
        .container
            .home-contacts
                .home-contacts__map
                    div.map-container(id="map-container" data-coordinates="53.850443, 30.377200" data-center="53.84875012290331,30.35647875909417")

                .home-contacts__info
                    .contact-info
                        .contact-info__title Наши контакты
                        .contact-info__desc Подробная контактная информация для вашего удобства!

                        .contact-info__phones
                            .contact-info__name Телефоны:

                            .contact-info__label Отдел продаж:
                            .contact-info__contact  
                                a(href='tel: +375222777700') +375 (222) 77-77-00
                                a(href='mailto: sales@basaltum.by') (sales@basaltum.by)

                            .contact-info__label Бухгалтерия:
                            .contact-info__contact  
                                a(href='tel: +375222777700') +375 (222) 77-77-00
                                
                            
                            .contact-info__label Отдел кадров, резюме:
                            .contact-info__contact
                                a(href='mailto: hr@basaltum.by') hr@basaltum.by

                        .contact-info__email
                            .contact-info__name Email:
                            .contact-info__contact
                                a(href='mailto: info@basaltum.by') info@basaltum.by

                        .contact-info__address
                            .contact-info__name Адрес:
                            .contact-info__contact 212013, Республика Беларусь, Могилёвская область, Могилёвский район, Вейнянский с/c, д. Затишье

                        .contact-info__white
                            button.btn(data-modal="/parts/_popup-callback.html") Напишите нам
                            

 

                