.section-advantages {
    @include section-padding;
}

.advantages {
    &__title {
        padding-bottom: 16px;


    }

    &__desc {
        color: var(--gray-64);
        padding-left: 36px;
        font-size: 16px;
        padding-bottom: 32px;

        @media screen and (min-width: $w760) {
            font-size: 20px;
            padding-left: 60px;
        }

        @media screen and (min-width: $w1440) {
            padding-bottom: 70px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -24px -16px;
    }

    &__item {
        padding: 16px 16px;
        flex-grow: 1;
        flex-basis: 340px;

        @media screen and (min-width: $w576) {
            padding: 24px 16px;
        }
    }
}

.advantages-card {

    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;

    @media screen and (min-width: $w576) {
        display: block;

    }

    &__icon {

        transition: transform 0.2s ease;
        transform: translateY(1px);

        @media screen and (min-width: $w576) {
            padding-bottom: 28px;
        }

        & .bgimage {
            width: 56px;
            height: 55px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            background-size: 100% auto;
            background-position: top center;
            position: relative;
            z-index: 1;



            @media screen and (min-width: $w576) {
                width: 80px;
                height: 79px;
            }

            & svg {
                fill: #333;
                margin-top: 7px;
                position: relative;
                z-index: 1;
                width: 36px;
                height: 36px;

                @media screen and (min-width: $w576) {
                    width: 48px;
                    height: 48px;
                }
            }
        }

        &:hover {
            transform: translateY(-7px);

            & .bgimage {
                background-size: 100% auto;
                background-position: bottom center;
            }

            & svg {
                fill: var(--green);
            }

        }
    }

    &__text {
        line-height: 150%;
        font-size: 16px;
        padding-left: 16px;

        @media screen and (min-width: $w576) {
            text-align: center;
            padding-left: 0;
            font-size: 20px;
            line-height: 160%;
            max-width: 300px;
            margin: 0 auto;
        }

        @media screen and (min-width: $w1440) {
            max-width: 100%;
        }

        & strong {
            font-weight: bold;
        }
    }
}

.advantages--min {

    @media screen and (min-width: $w992) {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    & .advantages {
        &__title {
            @include font-h2;
            padding-bottom: 10px;
        }

        &__desc {

            padding-left: 0;
            padding-bottom: 36px;
            color: var(--gray-36);
            font-size: 14px;

            @media screen and (min-width: $w992) {
                font-size: 16px;
            }
        }
    }
}