mixin advantages
    section.section-advantages
        .container
            .advantages
                .advantages__title.section-title Преимущства теплоизоляции из каменной ваты
                .advantages__desc Что делает, содержит и не содержит наша продукция
                .advantages__list
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon: +bgimage('/img/common/icons/icon-block.svg')
                            .advantages-card__text Отталкивает любое количество влаги
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon: +bgimage('/img/common/icons/icon-block-1.svg')
                            .advantages-card__text Сделана из экологичного материала
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon: +bgimage('/img/common/icons/icon-block-2.svg')
                            .advantages-card__text Сохраняет тепло в холодный период
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon: +bgimage('/img/common/icons/icon-block-3.svg')
                            .advantages-card__text Произведена из негорючего материала
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon: +bgimage('/img/common/icons/icon-block-4.svg')
                            .advantages-card__text Можно не бояться грызунов, они её не едят
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon: +bgimage('/img/common/icons/icon-block-5.svg')
                            .advantages-card__text Не содержит в составе стекловаты

