mixin advantages
    section.section-advantages
        .container
            .advantages
                .advantages__title.section-title Преимущства теплоизоляции из каменной ваты
                .advantages__desc Что делает, содержит и не содержит наша продукция
                .advantages__list
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon
                                span.bgimage(data-bg="/img/common/border.svg" class="lazyload")
                                    +icons('#ic_01', 48)
                            .advantages-card__text Отталкивает любое количество <strong>влаги</strong>
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon
                                span.bgimage(data-bg="/img/common/border.svg" class="lazyload")
                                    +icons('#ic_02', 48)
                            .advantages-card__text Сделана из <strong>экологичного</strong> материала
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon
                                span.bgimage(data-bg="/img/common/border.svg" class="lazyload")
                                    +icons('#ic_03', 48)
                            .advantages-card__text Сохраняет  <strong>тепло</strong>в холодный период
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon
                                span.bgimage(data-bg="/img/common/border-cross.svg" class="lazyload")
                                    +icons('#ic_04', 48)
                            .advantages-card__text Произведена из <strong>негорючего</strong> материала
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon
                                span.bgimage(data-bg="/img/common/border-cross.svg" class="lazyload")
                                    +icons('#ic_05', 48)
                            .advantages-card__text Можно не бояться <strong>грызунов</strong>, они её не едят
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon
                                span.bgimage(data-bg="/img/common/border-cross.svg" class="lazyload")
                                    +icons('#ic_06', 48)
                            .advantages-card__text Не содержит в составе <strong>стекловаты</strong>

mixin advantages-min
    section.section-advantages
        .container
            .advantages
                .advantages__title.section-title Ключевые преимущества
                .advantages__desc Что делает, содержит и не содержит наша продукция
                .advantages__list
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon
                                span.bgimage(data-bg="/img/common/border.svg" class="lazyload")
                                    +icons('#ic_01', 48)
                            .advantages-card__text Каменная вата на основе природного базальта. Надёжная огнезащита конструкций, негорючая и безопасная.
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon
                                span.bgimage(data-bg="/img/common/border.svg" class="lazyload")
                                    +icons('#ic_02', 48)
                            .advantages-card__text Энергоэффективность. Низкая теплопроводность и стабильность характеристик на весь срок службы.
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon
                                span.bgimage(data-bg="/img/common/border.svg" class="lazyload")
                                    +icons('#ic_03', 48)
                            .advantages-card__text Акустический комфорт. Высокое звукопоглощение в перегородках, перекрытиях и фасадных системах.
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon
                                span.bgimage(data-bg="/img/common/border-cross.svg" class="lazyload")
                                    +icons('#ic_04', 48)
                            .advantages-card__text Современная лаборатория и контроль качества продукции 24/7.
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon
                                span.bgimage(data-bg="/img/common/border-cross.svg" class="lazyload")
                                    +icons('#ic_05', 48)
                            .advantages-card__text Геометрическая стабильность. Точная геометрия и плотность — предсказуемый результат на объекте, ровные плоскости.
                    .advantages__item
                        .advantages-card
                            .advantages-card__icon
                                span.bgimage(data-bg="/img/common/border-cross.svg" class="lazyload")
                                    +icons('#ic_06', 48)
                            .advantages-card__text Надёжная упаковка, маркировка и комплект.

