mixin main-block
    section.section-main-block
        .container
            .main-block 
                .main-block__h1
                    h1 
                        span Утеплитель для фасада
                        .title-h1 БАЗАЛЬТУМ
                .main-block__subtitle Теплоизоляция из каменной ваты
                .main-block__desc
                    .main-block__text
                        p Гидрофобизированные жесткие плиты для тепло- и звукоизоляции на основе каменного (базальтового) волокна. 
                        p Производятся по уникальной технологии из высококачественного минерального сырья.
                        a(href='/products.html')
                            button.btn Перейти в каталог
                    .main-block__image
                        +picturePng('/img/common/box')


