mixin minicard
    .minicard
        .minicard__image: +picturePng('/img/common/product/1')
        .minicard__main
            .minicard__title Базальтум Фасад Оптима
            .minicard__desc Материал Базальтум Фасад Оптима для тепло- и звукоизоляции в виде плит различной толщины. Сделаны из каменной ваты на основе каменного (базальтового) волокна добавлением синтетического связующего.
            .minicard__cost: span 100 руб/рулон
            .minicard__details
                a(href='single-product.html'): button.btn Подробнее