 

mixin vacancies
    section.section-vacancies
        .left-block__details
            .left-block__details-text Хотите работать в современной промышленной компании, которая создаёт <br> инновационные материалы? Отправляйте заявку через сайт!
            .left-block__details-btn: a(href='#' download)
                button.btn 
                    span Заполнить анкету 
                    +icons('#ic_dl')

        .vacancies
            .vacancies__group
                .vacancies__head Актуальные вакансии
                .vacancies__list
                    .vacancies__item
                        .card-vacancy
                            .card-vacancy__title Заместитель начальника производственно-технического отдела
                            .card-vacancy__pre Один из ключевых производственных активов группы компаний «Газосиликат», крупнейшая ищет в команду "Заместителя начальника производственно-технического отдела" с рабочим местом на предприятии в Могилевском районе.
                            .card-vacancy__toggle
                                .show-toggle(data-isopen="card-vacancy")
                                    span Продробнее
                                    +icons('#ic_arrow-down')
                            .card-vacancy__details
                                .formated-text
                                    p  «Газосиликат», крупнейшая ищет в команду "Заместителя начальника производственно-технического отдела" с рабочим местом на предприятии в Могилевском районе.
                                    p  Ваши функции и зоны ответственности:
                                    ul
                                        li Контроль за оформлением заявок на материалы, сроками их поставок.
                                        li Аттестации, сертификации. Обучение специалистов по кранам, подъемникам, вышкам, стропальщикам, по работе на высоте, с бензоинструментом.
                                        li Сопровождение договоров подряда с БНТУ, Стройтехнорм, на подготовку земельной кадастровой документации, на выдачу разрешительной документации.
                            .card-vacancy__reply
                                button.btn(data-modal="/parts/_popup-vacancy.html") Откликнуться


                    .vacancies__item
                        .card-vacancy
                            .card-vacancy__title Рабочий по комплексному обслуживанию зданий
                            .card-vacancy__pre Приглашаем на постоянную работу "Рабочего по комплексному обслуживанию зданий и сооружений" с рабочим местом: пос. Октябрьский, Смолевичский р-н.
                            .card-vacancy__toggle
                                .show-toggle(data-isopen="card-vacancy")
                                    span Продробнее
                                    +icons('#ic_arrow-down')
                            .card-vacancy__details
                                .formated-text
                                    p  «Газосиликат», крупнейшая ищет в команду "Заместителя начальника производственно-технического отдела" с рабочим местом на предприятии в Могилевском районе.
                                    p  Ваши функции и зоны ответственности:
                                    ul
                                        li Контроль за оформлением заявок на материалы, сроками их поставок.
                                        li Аттестации, сертификации. Обучение специалистов по кранам, подъемникам, вышкам, стропальщикам, по работе на высоте, с бензоинструментом.
                                        li Сопровождение договоров подряда с БНТУ, Стройтехнорм, на подготовку земельной кадастровой документации, на выдачу разрешительной документации.
                            .card-vacancy__reply
                                button.btn(data-modal="/parts/_popup-vacancy.html") Откликнуться