.container
    .header
        .header__logo
            a(href='/'): span.bgimage(style="background-image: url(/img/common/logo.svg)")
        .header__nav
            nav
                ul
                    each item,index in app.mainMenu
                        li(class=(!index ? 'nav-catalog':''))
                            a(href=item.href)
                                if item.icon
                                    span.ic_24(style="background-image: url('/img/svg/ic_catalog.svg')") 
                                = item.text 
        .header__contacts
            .header-contact
                .header-contact__title Номер телефона:
                .header-contact__link: a(href='tel:+375222777700') +375 (222) 77-77-00
                .header-contact__more
                    a(href='#callback') Обратный звонок
            .header-contact
                .header-contact__title Email:
                .header-contact__link: a(href='mailto:info@basaltum.by') info@basaltum.by
                     