- 
  const app = {

    mainMenu: [

      { 
        text: 'Продукция',  
        href: '/products.html', 
        icon: 'ic_catalog.svg'
      },
      { 
        text: 'Прайс-листы',  
        href: 'prices.html', 
        icon: false
      },
      { 
        text: 'Вакансии',  
        href: 'vacancy.html', 
        icon: false
      },
      { 
        text: 'Контакты',  
        href: 'contacts.html', 
        icon: false
      },
      
       
    ],

    mainMenuMobile: [

      { 
        text: 'Главная',  
        href: '/', 
        icon: false
      },
      { 
        text: 'Продукция',  
        href: '/products.html', 
        icon: false
      },
      { 
        text: 'Прайс',  
        href: 'prices.html', 
        icon: false
      },
      { 
        text: 'Вакансии',  
        href: 'vacancy.html', 
        icon: false
      },
      { 
        text: 'Контакты',  
        href: 'contacts.html', 
        icon: false
      },
      
       
    ],

  };
 





