- 
  const app = {

    mainMenu: [

      { 
        text: 'Каталог',  
        href: '#catalog', 
        icon: 'ic_catalog.svg'
      },
      { 
        text: 'О компании',  
        href: '#about', 
        icon: false
      },
      { 
        text: 'Контакты',  
        href: '#contacts', 
        icon: false
      },
      
       
    ],

  };
 





